
<nav></nav>
<h1>Favorite Coding Resourses</h1>


<table>
     <thead>
          <tr>
               <th>Coding Resources</th>
               <th>Link</th>
          </tr>
     </thead>
     <tbody>
          <tr>
               <td>Mozilla Developer Network</td>
               <td>
                    <a href="https://developer.mozilla.org/en-US/docs/Web" rel="nofollow">
               </td>
          </tr>
          <tr>
               <td>DigitalOcean Tutorials</td>
               <td>
                    <a href="https://www.digitalocean.com/community/tutorials" rel="nofollow">
                    https://www.digitalocean.com/community/tutorials</a>
               </td>
          </tr>
          <tr>
               <td>HTML Tutorial for Beginners: HTML Crash Course</td>
               <td>
                    <a href="https://www.youtube.com/watch?v=qz0aGYrrlhU" rel="nofollow">
                    https://www.youtube.com./watch?v=qz0aGYrrlhU</a>
               </td>
          </tr>
     </tbody>
</table> <caption></caption> <thead></thead> <th></th> <tbody></tbody> <tr></tr> <td></td> 
<svg width="100%" height="300" version="1.1"
     xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" fill="black" />
        <circle cx="100%" cy="50%" r="150" fill="purple" stroke="black" fill-opacity="0.6" />
        <rect x="5%" y="5%" width="20" height="20" transform="rotate(5)" />
        <polygon points="500,300 640,100 800,300" fill="#B3B6B7" />
        <text x="100" y="100" font-family="Arial" font-size="80" fill="purple" stroke="black" stroke-width="1"
            transform="rotate(-1)">
            THIS IS MY BANNER AGAIN
        </text>
        <g>
            <path fill-opacity="0.1" stroke="lightgray" d="
                M 440, 100
                m -50, 0
                a 50,50 0 1,0 100,0
                a 50,50 0 1,0 -100,0
            " />
            ` <circle r="5" fill="purple">
                <animateMotion dur="10s" repeatCount="indefinite" path=" M 440, 100
                    m -50, 0
                    a 50,50 0 1,0 100,0
                    a 50,50 0 1,0 -100,0" />
            </circle>
        </g>
    </svg>
